node_modules/
dist/
build/
.env
.env.local
*.log

# Flutter
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/

# Android/iOS local
**/android/.gradle/
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/

# IDE
.vscode/
.idea/
